.pk-picker-month-view {
  width: 100%;
}

.pk-picker-weekday-cell {
  color: var(--pk-picker-weekday-cell);
}

.pk-picker-day-cell {
  height: var(--pk-picker-date-size);
  width: var(--pk-picker-date-size);
  border-radius: var(--pk-picker-date-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background: var(--pk-picker-bg-hover);
  }

  &.pk-picker-day-cell-today {
    border: 1px solid var(--pk-picker-today-ring);
  }

  &.pk-picker-day-cell-selected {
    background: var(--pk-picker-selected-bg);
    color: var(--pk-picker-selected-fg);
  }

  &.pk-picker-day-cell-in-range {
    background: var(--pk-picker-range-bg);
  }

  &.pk-picker-day-cell-in-hover-range {
    background: var(--pk-picker-hover-range-bg);
  }
}
