.pk-picker-month-view {
  width: 100%;
}

.pk-picker-weekday-cell {
  color: var(--pk-weekday-cell);
}

/* --pk-day-cell-border-radius: 8px;
  --pk-day-cell-height: 36px;
  --pk-day-cell-width: 36px; */

.pk-day-cell {
  height: var(--pk-day-cell-height);
  width: var(--pk-day-cell-width);
  border-radius: var(--pk-day-cell-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: var(--pk-day-cell-hover-bg);
    color: var(--pk-day-cell-hover-fg);
  }
  &.pk-day-cell-today {
    background: var(--pk-day-cell-today-bg);
    color: var(--pk-day-cell-today-fg);
  }

  &.pk-day-cell-selected {
    background: var(--pk-day-cell-selected-bg);
    color: var(--pk-day-cell-selected-fg);
  }

  &.pk-day-cell-in-range {
    background: var(--pk-day-cell-in-range-bg);
    color: var(--pk-day-cell-in-range-fg);
  }

  &.pk-picker-day-cell-in-hover-range {
    background: var(--pk-hover-range-bg);
  }
}

.pk-day-cell-blank {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--pk-day-cell-height);
  width: var(--pk-day-cell-width);
  background: var(--pk-day-cell-blank-bg);
  color: var(--pk-day-cell-blank-fg);
}
